@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";
@import"./components/restaurant_cards";
@import"./components/function_cards";

@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";
@import "./layout/cta";
@import "./layout/footer";

@import "./pages/index";
@import "./pages/menu_base";
/*
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";
*/