
.cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: $colour-secondary;
    padding-left: $padding-side-size;
    padding-right: $padding-side-size;
    text-align: center;
    &--button {
        height: 50px;
        max-width: 350px;
        min-width: 250px;
        font-size: 20px;
        width: 60%;
        border-radius: 30px;
        padding: 10px;
        background: linear-gradient(0deg, #a355dd 35%, rgba(222,101,217,1) 100%,);
        border: none;
        color: white;
        margin-top: 50px;
        margin-bottom: 60px;
    }
}