
.cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: $colour-secondary;
    padding-left: $padding-side-size;
    padding-right: $padding-side-size;
    text-align: center;
    &--button {
        height: 50px;
        max-width: 350px;
        min-width: 250px;
        font-size: 20px;
        width: 60%;
        border-radius: 30px;
        padding: 10px;
        background: linear-gradient(0deg, $ctaBottomColor 35%, $ctaTopColor 100%,);
        box-shadow: 0px 3px 5px rgb(177, 174, 174);
        border: none;
        color: white;
        margin-top: 50px;
        margin-bottom: 60px;
        &:hover{
            background: linear-gradient(0deg, lighten($ctaBottomColor, 3%) 35%, lighten($ctaTopColor, 3%) 100%,);
            box-shadow: 0px 3px 5px darken(rgb(177, 174, 174), 20%);
        }
    }
}