
.form-container {
    width: 100%;
}

.form-container-search {
    width: 100%;
    text-align: center;
    background-color: $color-textfield;
    border-style: unset;
    height: 70px;
    font-size: 1.5em;
    color: black;
    box-shadow: 0px 7px 10px -4px rgb(160, 158, 158) inset;
}
.form-container-search::placeholder {
    //font-family: 'Roboto', sans-serif;
    font-family: FontAwesome, 'Roboto', sans-serif;
    color: black;
    font-weight: 500;
}