
.form-container {
    width: 100%;
}

.form-container-search {
    width: 100%;
    text-align: center;
    background-color: $color-textfield;
    border-style: unset;
    height: 100px;
    font-size: 1.5em;
    color: black;
}