.header {
    height: 90px;
    display: flex;
    align-items: center;
    
    justify-content: space-around;
    width: 100%;
    box-shadow: 5px 5px 27px 0px rgba(0,0,0,0.74);
}

.header-logo {
    height: 45px;
    
}
