.header {
    height: 90px;
    display: flex;
    align-items: center;
    
    justify-content: space-around;
    width: 100%;
    box-shadow: 5px 5px 27px 0px rgba(0,0,0,0.74);
}

.header-logo {
    height: 60px;
    padding-right: 60px;
}
/*
.header-logo-container {
background-image: url(../../../images/logo/ohmyfood.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50%;
}
*/