
.restaurant-card {
    
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 300px;
    transition: 0.3s;
    background-color: $colour-primary;
    text-decoration: none;
    color: black;
    margin-top: $spacer-restaurant-cards;
}

.restaurant-picture-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.restaurant-fit-picture {
    border-radius: 15px 15px 0% 0%;
    width: 100%;
    min-height: 100%;
}
.restaurant-card-title {
    padding-left: 20px;
    //padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 18px;
    margin: 0px;
}
.restaurant-card-content {

    padding-left: 20px;
    padding-bottom: 10px;
}

.restaurant-card-row {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.restaurant-card-new-indicator {
    position: absolute;
    background-color: #99e2d0;
    color: #40ad92;
    right: 15px;
    top: 20px;
    padding-top:2px;
    padding-bottom:2px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 4px;
    &-text{
        font-weight: 400;
        font-size: 16px;
        color: #3ba188;
    }
}

.function-text{
    font-weight: 500;
}
/*
    Heart checkbox
*/
.like-checkbox{
    padding-right: 20px;
    font-size: 28px;
    
}
.like-checkbox input[type='checkbox'] {
    
    display:none;
    position: relative;
}
.like-checkbox input[type='checkbox']+ label:before {
    font-family: 'Font Awesome 5 Free';
    content: "\f004";
	cursor:pointer;
    
    
}
.like-checkbox input[type='checkbox']:checked + label:before {
    font-weight:600;
    //color: #a355dd;
    animation-name: colorFillLike;
    animation-duration: 1.5s;  
    animation-fill-mode: forwards;
}
@keyframes colorFillLike {
    from {color:white;}
    to {color: #a355dd;}
  }
@media all and (min-width: $breakpoint_tablet){
    .restaurant-card {
        max-width: 32%;
    }
}