@import url('https://fonts.googleapis.com/css2?family=Shrikhand:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 2rem;
    font-weight: 200;
    line-height: 1.7;
}

h1 {
    font-family: 'Shrikhand';
    font-weight: 200;
    font-size: 5rem;
    
}

h2 {
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
    font-weight: 900;
    font-size: 3rem;
    
}
p {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;
}
/*
button {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 2.75rem;
}
*/