.fonction-container{
    padding-left: $padding-side-size;
    padding-right: $padding-side-size;
}
.fonction-container-card {
    display: flex;
    
    background-color: $colour-secondary;
    box-shadow: black;
    /*
    width: 80%;
    margin-left: 10%;
    */
    height: 80px;
    border-radius: 20px;
    align-items: center;
    
}

.fonction-container-number {
    position: relative;
    right: 13px; 
    background-color: #9356dc;
    text-align: center;
    align-self: center;
    width: $fonction-circle-size;
    height: $fonction-circle-size;
    border-radius: 50%;
    display: flex; /* or inline-flex */
    align-items: center; 
    justify-content: center;
    color: white;
}

.restaurant-section{
    background-color: $colour-secondary;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: $padding-side-size;
    padding-right: $padding-side-size;

}