.fonction-container{
    padding-left: $padding-side-size;
    padding-right: $padding-side-size;
}
.fonction-container-card {
    display: flex;
    
    background-color: $colour-secondary;
    box-shadow: black;
    /*
    width: 80%;
    margin-left: 10%;
    */
    height: 80px;
    border-radius: 20px;
    align-items: center;
    
}

.fonction-container-number {
    position: relative;
    right: 13px; 
    background-color: #9356dc;
    text-align: center;
    align-self: center;
    width: $fonction-circle-size;
    height: $fonction-circle-size;
    border-radius: 50%;
    display: flex; /* or inline-flex */
    align-items: center; 
    justify-content: center;
    color: white;
}

.restaurant-section{
    background-color: $colour-secondary;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: $padding-side-size;
    padding-right: $padding-side-size;

}

.loader-logo {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
	opacity: 0;
	justify-content: space-around;
    align-items: center;
    
	overflow: hidden;
	transform: translatey(0px);
    animation: loader-animation 0.1s forwards;
	/*
    replace by these values after coding phase
    animation: loader-animation 3s forwards;
    */
	
    
}


.loader-logo-container{
    width: 400px;
	height: 150px;
}
@keyframes loader-animation {
	0% {
		transform: scale(1);
		opacity: 1;
		transform: translatey(0px);
        background-color: rgba(46, 60, 66, 0.7);
	}
	25% {
        opacity: 1;
		transform: translatey(-20px);
        background-color: rgba(46, 60, 66, 0.7);
	}
	50% {
        opacity: 1;
		transform: translatey(0px);
        background-color: rgba(46, 60, 66, 0.7);
	}
    75%{
        background-color: rgba(46, 60, 66, 0.7);
    }
	100% {
		display: none;
    	opacity: 0;
        transform: scale(0);

	}
}