.function-section{
    padding-left: $padding-side-size;
}


.restaurant-section{
    background-color: $colour-secondary;
    padding-top: 1px;
    padding-bottom: 50px;
    padding-left: $padding-side-size;
    padding-right: $padding-side-size;

}

@media all and (min-width: $breakpoint_tablet){
    .restaurant-grid{
        
        display: flex;                       /* establish flex container */
        flex-wrap: wrap;                     /* enable flex items to wrap */
        justify-content: space-between;
        
    }
}

/****************************************************************
Loader
****************************************************************/
.loader-logo {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
	opacity: 0;
	justify-content: space-around;
    align-items: center;
    
	overflow: hidden;
	transform: translatey(0px);
    animation: loader-animation $loader-animation-duration forwards;
	/*
    replace by these values after coding phase
    animation: loader-animation 3s forwards;
    */
	
    
}

.loader-logo-container{
    width: 400px;
	height: 150px;
}
@keyframes loader-animation {
	0% {
		transform: scale(1);
		opacity: 1;
		transform: translatey(0px);
        background-color: rgba(46, 60, 66, 0.7);
	}
	25% {
        opacity: 1;
		transform: translatey(-20px);
        background-color: rgba(46, 60, 66, 0.7);
	}
	50% {
        opacity: 1;
		transform: translatey(0px);
        background-color: rgba(46, 60, 66, 0.7);
	}
    75%{
        background-color: rgba(46, 60, 66, 0.7);
    }
	100% {
		display: none;
    	opacity: 0;
        transform: scale(0);

	}
}