.header-menu {
    height: 90px;
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 5px 5px 27px 0px rgba(0,0,0,0.74);
}

.header-icon {
    position: relative;
    padding-left: 6%;
    text-decoration: none;
    color: black;
}
.header-logo-menu {
    display:inline-block;
    margin: 0 auto;
}

.menu-restaurant-container {
    width: 100%;
    height: 200px;
    
}
.menu-restaurant-image {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.menu-container{
    padding-left: $padding-side-size;
    
    border-radius: 40px 40px 0% 0%;
    background-color: $colour-secondary;

    position: relative;
    top:-45px;
    padding-bottom: 20px;
    margin-bottom: -45px;
}

.menu-container-row{
    display: flex;
    align-items: center;
}

.menu-category-title{
    
    display: inline-block;
    padding-bottom: -10px;
    position: relative;
}
.menu-category-title:before{
    content: "";
    position: absolute;
    width: 75px;
    height: 1px;
    bottom: 0;
    left: 0;
    border-bottom: 4px solid $colour-underline-menu;
}

.menu-plat-card{
    
    display: flex;
    flex-direction: column;
    background-color: $colour-primary;
    border-radius: 20px;
    padding-left: $padding-side-size;
    margin-right: $padding-side-size;
    padding-top: 8px;
    padding-bottom: 8px;
}

.menu-plat-content{
    display: flex;
}

.menu-plat-price {
    position:absolute;
    font-weight: bold;
    margin-left: 75%;
}