.header-menu {
    height: 90px;
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 5px 5px 27px 0px rgba(0,0,0,0.74);
    min-width: 400px;
}

.header-icon {
    position: relative;
    padding-left: 6%;
    text-decoration: none;
    color: black;
}
.header-logo-menu {
    display:inline-block;
    margin: 0 auto;
    position: relative;
    padding-right: 6%;
}

.menu-restaurant-container {
    width: 100%;
    height: 200px;
    min-width: 400px;
}
.menu-restaurant-image {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.menu-container{
    padding-left: $padding-side-size;
    padding-right: $padding-side-size;
    border-radius: 40px 40px 0% 0%;
    background-color: $colour-secondary;

    position: relative;
    top:-45px;
    padding-bottom: 20px;
    margin-bottom: -45px;
    min-width: 400px;
}
.restaurant-name{
    
}
.menu-container-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}

.menu-category-title{
    
    display: inline-block;
    padding-top: 30px;
    position: relative;
    font-size: 22px;
}
.menu-category-title:before{
    content: "";
    position: absolute;
    width: 75px;
    height: 1px;
    bottom: 0;
    left: 0;
    border-bottom: 4px solid $colour-underline-menu;
}

.menu-plat-card{

    opacity: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $colour-primary;
    border-radius: 20px;
    padding-left: $padding-side-size;
    
    padding-top: 8px;
    padding-bottom: 8px;
    overflow: hidden;
    margin-top: $spacer-menu-cards;

    &:hover{
        .menu-check-container{
            transform: translate(0px);
        }
        .menu-plat-price{
            // position: relative;
            // right: 20px;
            
            margin-right: 80px;
        }
        
        .menu-icone-container{
            transform: rotate(0deg);
        }
    }

    animation: menu-cards-fade-in $delayAnimationFadeIn linear forwards;
    @for $i from 1 through $max-menu-card-number {
        &:nth-child(#{$i}) { 
           -webkit-animation-delay: ($delayAnimationFadeInDelta * $i);
          -moz-animation-delay: ($delayAnimationFadeInDelta * $i);
          animation-delay: ($delayAnimationFadeInDelta * $i);
        }
     }
}

.menu-check-container{
    
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: $colour-menu-check-background;
    height: 100%;
    width: 60px;
    transform: translate(60px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: $delayAnimationSlideIcon $animationAnimationSlideIcon;
}

.menu-icone-container{
    font-size: 22px;
    color: white;
    transform: rotate(-360deg);
    transition: transform $delayAnimationSlideIcon linear;
}

.menu-plat-content{
    display: flex;
    justify-content: space-between;
}

.menu-plat-price {
    font-weight: bold;
    margin-right: 20px;
    margin-left: 30px;
    width: 35px;
    
    transition: margin-right $delayAnimationSlideIcon $animationAnimationSlideIcon;
}

@keyframes menu-cards-fade-in {
	0% {
		opacity: 0;
		transform: translatey(30px);
	}
    50% {
    	opacity: 0.5;
        transform: translatey(15px);
	}
	100% {
    	opacity: 1;
        transform: translatey(0px);
	}
}

.menu-plat-title{
    font-weight: 900;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &-spacer{
        margin-left: 20px;
    }
}

.menu-plat-components{
    //margin-right: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-command-button{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: $spacer-menu-cards;
}