$colour-primary: #fff;
$colour-secondary: #f5edff;

$color-textfield: #eaeaea;
$colour-invalid: #DB464B;
$colour-footer: #353535;
$fonction-circle-size: 30px;

$colour-underline-menu: #93e1ce;

$padding-side-size: 4%;