$colour-primary: #fff;
$colour-secondary: #F6F5F5;

$color-textfield: #ebe5e5;
$colour-invalid: #DB464B;
$colour-footer: #353535;
$fonction-circle-size: 30px;

$colour-menu-check-background: #99e2d0;
$colour-underline-menu: #93e1ce;

$padding-side-size: 20px;

$spacer-function-cards: 36px;
$shadow-function-card: 6px 5px 7px 0px rgba(0,0,0,0.1);
$shadow-function-active-card: 6px 5px 7px 0px rgba(0,0,0,0.3);

$spacer-restaurant-cards: 18px;
$breakpoint_tablet: 992px;

$spacer-menu-cards: 16px;

$colour-inactive-icon: #7d7d7d;
$colour-active-icon: #7d7d7d;
$background-color-active-function-card: #f5edff;
$colour-function-number: #9356dc;

$ctaBottomColor: #a355dd;
$ctaTopColor: rgba(222,101,217,1);

$max-menu-card-number: 20;
$delayAnimationFadeIn : 0.4s;
$delayAnimationFadeInDelta: 0.06s;

$delayAnimationSlideIcon: 0.3s;

$animationAnimationSlideIcon: linear;